# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Config files with secrets (allow templates)
config/secrets/*
!config/secrets/*.template

# Node deps
node_modules

# SSL
config/**/*.pem
config/letsencrypt
config/nginx/ssl

# Proprietary files
config/connect

# PGAdmin4
config/pgadmin4

# Nginx files
assets/*.Identifier

# API Testing
.bruno
