# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Config files with secrets
config/secrets/*.env
config/**/*.pem
config/letsencrypt
config/nginx/ssl