# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Config files with secrets (allow templates)
config/secrets/*
!config/secrets/*.template

# SSL
config/**/*.pem
config/letsencrypt
config/nginx/ssl

# PGAdmin4
config/pgadmin4
